version: 2.1

orbs:
  aws: circleci/aws-cli@1.1.0
  python: circleci/python@2.1.1

executors:
  node:
    docker:
      - image: cimg/node:18.0.0

jobs:
  build-app:
    docker:
      - image: cimg/node:18.0.0
    steps:
      - checkout
      - run:
          name: Build App
          command: |
            cd app
            yarn install
            yarn build
  scan-app:
    docker:
      - image: cimg/node:18.0.0
    steps:
      - checkout
      - run:
          name: Scan app
          command: |
            cd app
            yarn install
            yarn audit --audit-level=critical
  lint-app:
    docker:
      - image: cimg/node:18.0.0
    steps:
      - checkout
      - run:
          name: Lint App
          command: |
            cd app
            yarn install
            yarn lint
  build-fe-docker-img:
    docker:
      - image: cimg/base:2022.06
    steps:
      - checkout
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: login docker
          command: docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD
      - run:
          name: Build Frontend Docker Image
          command: |
            chmod +x docker/build-docker.sh
            docker/build-docker.sh latest 
            docker/build-docker.sh ${CIRCLE_SHA1:0:7}
      - run:
          name: push docker img
          command: |
            chmod +x docker/upload-docker.sh
            docker/upload-docker.sh latest 
            docker/upload-docker.sh ${CIRCLE_SHA1:0:7}

workflows:
  version: 2
  default:
    jobs:
      - build-app
      - scan-app:
          requires: [build-app]
      - lint-app:
          requires: [build-app]
      - build-fe-docker-img:
          requires: [scan-app, lint-app]
