version: 2.1

orbs:
  aws: circleci/aws-cli@1.1.0
  python: circleci/python@2.1.1

executors:
  node:
    docker:
      - image: cimg/node:18.0.0

jobs:
  build-app:
    docker:
      - image: cimg/node:18.0.0
    steps:
      - checkout
      - run:
          name: Build App
          command: |
            cd app
            yarn install
            yarn build
  scan-app:
    docker:
      - image: cimg/node:18.0.0
    steps:
      - checkout
      - run:
          name: Scan app
          command: |
            cd app
            yarn install
            yarn audit --audit-level=critical
  lint-app:
    docker:
      - image: cimg/node:18.0.0
    steps:
      - checkout
      - run:
          name: Lint App
          command: |
            cd app
            yarn install
            yarn lint

workflows:
  version: 2
  default:
    jobs:
      - build-app
      - scan-app:
          requires: [build-app]
      - lint-app:
          requires: [build-app]
